$dimen-padding-view-l: 28px;
$dimen-padding-view-m: 20px;
$dimen-padding-view-s: 16px;

// $TEXT
$dimen-text-title: 20px;
$dimen-text-subtitle: 18px;
$dimen-text-normal: 15px;

// $HEADER
$dimen-header-height: 60px;

// $SIDEBAR
$dimen-sidebar-width: 312px;

// $CARD
$dimen-card-padding: $dimen-padding-view-l;
$dimen-card-margin: $dimen-padding-view-l;

// $BUTTON
$dimen-btn-width: 116px;
$dimen-btn-padding: 8px;
$dimen-btn-border-radius: 2px;

// $INPUT
$dimen-input-height: 36px;
$dimen-input-border-radius: 4px;
$dimen-input-padding: 12px;
