{% verbatim %}
<div class="form-group">
	<label for="input-name" class="col-sm-4 control-label">Nombre de Paciente</label>
	<div class="col-sm-8">
		<p>{{first_name}}</p>
	</div>
</div>
<div class="form-group">
	<label for="input-dni" class="col-sm-4 control-label">Número de DNI</label>
	<div class="col-sm-8">
		<p>{{dni}}</p>
	</div>
</div>
<div class="form-group">
	<label for="input-cofe" class="col-sm-4 control-label">Código</label>
	<div class="col-sm-8">
		<p>{{code}}</p>
	</div>
</div>
<div class="form-group">
	<label for="input-mobile-phone" class="col-sm-4 control-label">Número Celular</label>
	<div class="col-sm-8">
		<p>{{cellphone}}</p>
	</div>
</div>
<div class="form-group">
	<label for="input-hospital" class="col-sm-4 control-label">Hospital</label>
	<div class="col-sm-8">
		<p>{{hospital_name}}</p>
	</div>
</div>
<div class="form-group">
	<label for="input-doctor" class="col-sm-4 control-label">Médico</label>
	<div class="col-sm-8">
		<p>Mario Sotelo</p>
	</div>
</div>
<div class="form-group">
	<label for="input-birthday" class="col-sm-4 control-label">Fecha de Nac.</label>
	<div class="col-sm-8">
		<p>{{birthday_converted}}</p>
	</div>
</div>
{% endverbatim %}
