{% verbatim %}
<script type="text/x-handlebars-template" id="tmp-patient-table">
	<section class="card patients">
		<div class="title-table">
			<div class="back">
				<i class="fa fa-arrow-left back"></i>
			</div>
			<h1 class="title-pacient">Pacientes</h1>
			<div class="patient-id-out patient-content">
				<i class="fa fa-angle-right separator"></i>
				<span class="patient-id"></span>
			</div>
			<div class="patient-edit-out patient-content">
				<i class="fa fa-angle-right separator"></i>
				<span class="patient-edit">edit</span>
			</div>
		</div>

		<section class="radio-container-out clearfix filter-container">
			<div class="radio-container-in form-inline">
				<div class="radio-group">
					<label>Hospital:&nbsp;&nbsp;&nbsp;</label>
					<select class="form-control dg-filter" id="filter-hospital">
						<option value="">Todos</option>
						<option value="hospital=1">Cayetano Heredia</option>
						<option value="hospital=2">Arzobispo Loayza</option>
					</select>
				</div>
				<div class="radio-group">
					<label>Seguimiento:&nbsp;&nbsp;&nbsp;</label>
					<select class="form-control dg-filter" id="filter-active">
						<option value="is_active=True">Activado</option>
						<option value="is_active=False">Desactivado</option>
						<option value="">Todos</option>
					</select>
				</div>
				<div class="radio-group">
					<label>Buscar:&nbsp;&nbsp;&nbsp;</label>
					<input class="form-control filter-date m-filter-date" id="find-patient" placeholder="Buscar por código de paciente">
				</div>
			</div>
		</section>

		<div class="table-patients">
			<section class="table-container">
				<table class="table dg-table" id="table-container">
					<thead class="tr-head">
						<tr>
							<td class="sort" data-sort-by="code">CÓDIGO<i class="fa fa-sort"></i></td>
							<td>DNI</td>
							<td>NOMBRE</td>
							<td>FECHA DE NACIMIENTO</td>
							<td class="sort" data-sort-by="date_joined">FECHA DE INGRESO<i class="fa fa-sort"></i></td>
							<td>HOSPITAL</td>
							<td>FECHA DE DESACTIVACIÓN</td>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</section>
		</div>
	</section>
</script>
{% endverbatim %}

{% include "patients/patient.html" %}
{% include "patients/patient-data.html" %}
{% include "patients/patient-data-form.html" %}
{% include "patients/patient-data-form-modal.html" %}
