{% verbatim %}
<script type="text/x-handlebars-template" id="tmp-monitoring-patient-table">
	<div class="table-monitoring-patient">
		<section class="table-container">
			<table class="table dg-table" id="table-container">
				<thead class="tr-head">
					<tr>
						<td>Nro</td>
						<td>TIPO LLAMADA</td>
						<td>FECHA</td>
						<td>DURACIÓN</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</section>
	</div>
</script>
{% endverbatim %}

{% include "monitoring-id/call-scheduled.html" %}